* {
  box-sizing: border-box;
}

body {
  margin: 1vw;
}

html {
  font-family:Avenir,Helvetica,sans-serif;
  background:#e4e4d5;
}

h1 {
  font-size: calc(1.6rem + 1.6vw);
  text-transform: uppercase;
  text-align:center;
  transform: rotate(180deg);
}

h1::first-letter {
  color: red;
}

article.domino {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: repeat(7, min-content);

  gap: 5px 5px;

  background-color: white;
  width: fit-content;
  padding: 10px;
  border-radius: 3px;
}

.separator {
  grid-column: 1 / 4;
  background-color: black;
  height: 3px;
  border-radius: 10px;
}

.bottom {
  transform: rotate(180deg);
}

.pip {
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  text-indent: -9999999px;
}
