* {
  box-sizing: border-box;
}

body {
  margin: 1vw;
}

html {
  font-family:Avenir,Helvetica,sans-serif;
  background:#f7e4a8;
}

.name {
  font-size: calc(1.6rem + 1.6vw);
  text-transform: uppercase;
  text-align:center;
  letter-spacing: 0.9vw;
  font-weight: 500;
}

.name span:nth-child(3) {
  color: #06d610;
}

.name::first-letter {
  color: red;
}

.pack {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(4, auto);
  gap: 5px;
}

article.domino {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: repeat(7, min-content);
  gap: 5px 5px;

  /* background-color: #fffff0; */
  background: linear-gradient(50deg,#f5f5d6,#fffff0);
  width: min-content;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;

  transform: rotate(0deg);
  filter: drop-shadow(2px 2px 2px #bebebe);
}

.separator {
  grid-column: 1 / 4;
  grid-row: 4;
  background: black;
  height: 3px;
  border-radius: 10px;
  margin: 5px 0;
  align-self: middle;
}

.center-star {
  height: 8px;
  width: 8px;
  grid-row: 4;
  grid-column: 2;
  place-self: center;
  background-color: gold;
  border-radius: 50px;
  background: radial-gradient(closest-side, gold, rgb(192, 165, 12));
}

.pip {
  background: radial-gradient(closest-side, #5a5a5a, black);
  width: 20px;
  height: 20px;
  border-radius: 50px;
  text-indent: -9999999px;
  color: white;
  text-align: center;
}

.d-a-side-1 .a-side.pip,
.d-b-side-1 .b-side.pip {
  background: radial-gradient(closest-side, #ff8f8f, rgb(201, 15, 15));
}

.d-a-side-2 .a-side.pip,
.d-b-side-2 .b-side.pip {
  background: radial-gradient(closest-side, #ffcb8f, rgb(233, 114, 16));
}

.d-a-side-3 .a-side.pip,
.d-b-side-3 .b-side.pip {
  background: radial-gradient(closest-side, #fffd8f, rgb(204, 184, 9));
}

.d-a-side-4 .a-side.pip,
.d-b-side-4 .b-side.pip {
  background: radial-gradient(closest-side, #5bee63, rgb(13, 112, 4));
}


.d-a-side-5 .a-side.pip,
.d-b-side-5 .b-side.pip {
  background: radial-gradient(closest-side, #9694f1, rgb(2, 62, 172));
}

/* Define pip positions on the domino grid */
/* a-side pips */
.pip-01 { grid-row: 1; grid-column: 1; }
.pip-02 { grid-row: 1; grid-column: 2; }
.pip-03 { grid-row: 1; grid-column: 3; }
.pip-04 { grid-row: 2; grid-column: 1; }
.pip-05 { grid-row: 2; grid-column: 2; }
.pip-06 { grid-row: 2; grid-column: 3; }
.pip-07 { grid-row: 3; grid-column: 1; }
.pip-08 { grid-row: 3; grid-column: 2; }
.pip-09 { grid-row: 3; grid-column: 3; }
/* b-side pips */
.pip-10 { grid-row: 5; grid-column: 1; }
.pip-11 { grid-row: 5; grid-column: 2; }
.pip-12 { grid-row: 5; grid-column: 3; }
.pip-13 { grid-row: 6; grid-column: 1; }
.pip-14 { grid-row: 6; grid-column: 2; }
.pip-15 { grid-row: 6; grid-column: 3; }
.pip-16 { grid-row: 7; grid-column: 1; }
.pip-17 { grid-row: 7; grid-column: 2; }
.pip-18 { grid-row: 7; grid-column: 3; }


/* Define dominoes */

/* generic pip hider */
.pip-hidden { opacity: 0 }

#d0_0 .pip { opacity: 0 }

#d0_1 .pip { opacity: 0 }
#d0_1 .pip-14 { opacity: 100 }

#d0_2 .pip { opacity: 0 }
#d0_2 .pip-10, #d0_2 .pip-18 { opacity: 100 }

#d0_3 .pip { opacity: 0 }
#d0_3 .pip-10, #d0_3 .pip-14, #d0_3 .pip-18 { opacity: 100 }

#d0_4 .pip.a-side,
#d0_4 .pip.b-side.row-06,
#d0_4 .pip.b-side.col-02
{ opacity: 0 }

#d0_5 .pip.a-side,
#d0_5 .pip-11,
#d0_5 .pip-13,
#d0_5 .pip-15,
#d0_5 .pip-17
{ opacity: 0 }

#d0_6 .pip.a-side, #d0_6 .pip.b-side.col-02 { opacity: 0 }

#d1_1 .pip { opacity: 0 }
#d1_1 .pip-05, #d1_1 .pip-14 { opacity: 100 }

#d1_2 .pip { opacity: 0 }
#d1_2 .pip-05,
#d1_2 .pip-10, #d1_2 .pip-18 { opacity: 100 }

#d1_3 .pip { opacity: 0 }
#d1_3 .pip-05,
#d1_3 .pip-10, #d1_3 .pip-14, #d1_3 .pip-18 { opacity: 100 }

#d1_4 .pip.a-side { opacity: 0 }
#d1_4 .a-side.pip-05 { opacity: 100 }
#d1_4 .pip.b-side.row-06,
#d1_4 .pip.b-side.col-02
{ opacity: 0 }

#d1_5 .pip.a-side { opacity: 0 }
#d1_5 .a-side.pip-05 { opacity: 100 }
#d1_5 .pip-11,
#d1_5 .pip-13,
#d1_5 .pip-15,
#d1_5 .pip-17
{ opacity: 0 }

#d1_6 .pip.a-side, #d1_6 .pip.b-side.col-02 { opacity: 0 }
#d1_6 .a-side.pip-05 { opacity: 100 }

#d2_2 .pip { opacity: 0 }
#d2_2 .pip-01, #d2_2 .pip-09,
#d2_2 .pip-10, #d2_2 .pip-18 { opacity: 100 }

#d2_3 .pip { opacity: 0 }
#d2_3 .pip-01, #d2_3 .pip-09,
#d2_3 .pip-10, #d2_3 .pip-14, #d2_3 .pip-18 { opacity: 100 }

#d2_4 .pip.a-side,
#d2_4 .pip.b-side.row-06,
#d2_4 .pip.b-side.col-02
{ opacity: 0 }
#d2_4 .a-side.pip-01, #d2_4 .a-side.pip-09 { opacity: 100 }


#d2_5 .pip.a-side { opacity: 0 }
#d2_5 .a-side.pip-01, #d2_5 .a-side.pip-09 { opacity: 100 }
#d2_5 .pip-11,
#d2_5 .pip-13,
#d2_5 .pip-15,
#d2_5 .pip-17
{ opacity: 0 }

#d2_6 .pip.a-side, #d2_6 .pip.b-side.col-02 { opacity: 0 }
#d2_6 .a-side.pip-01, #d2_6 .a-side.pip-09 { opacity: 100 }

#d3_3 .pip { opacity: 0 }
#d3_3 .pip-01, #d3_3 .pip-05, #d3_3 .pip-09,
#d3_3 .pip-10, #d3_3 .pip-14, #d3_3 .pip-18
{ opacity: 100 }

#d3_4 .pip.a-side,
#d3_4 .pip.b-side.row-06,
#d3_4 .pip.b-side.col-02
{ opacity: 0 }
#d3_4 .a-side.pip-01, #d3_4 .a-side.pip-05, #d3_4 .a-side.pip-09
{ opacity: 100 }

#d3_5 .pip-02,
#d3_5 .pip-03,
#d3_5 .pip-04,
#d3_5 .pip-06,
#d3_5 .pip-07,
#d3_5 .pip-08
{ opacity: 0 }

#d3_5 .pip-11,
#d3_5 .pip-13,
#d3_5 .pip-15,
#d3_5 .pip-17
{ opacity: 0 }

#d3_6 .pip-02,
#d3_6 .pip-03,
#d3_6 .pip-04,
#d3_6 .pip-06,
#d3_6 .pip-07,
#d3_6 .pip-08
{ opacity: 0 }

#d3_6 .b-side.pip.col-02
{ opacity: 0 }

#d4_4 .pip.col-02,
#d4_4 .pip.row-02,
#d4_4 .pip.row-06
{ opacity: 0 }

#d4_5 .pip.col-02,
#d4_5 .pip.row-02,
#d4_5 .pip.row-06
{ opacity: 0 }

#d4_5 .b-side.pip-14
{ opacity: 100 }

#d4_6 .pip.col-02,
#d4_6 .pip.row-02
{ opacity: 0 }

#d5_5 .pip-02,
#d5_5 .pip-04,
#d5_5 .pip-06,
#d5_5 .pip-08,
#d5_5 .pip-11,
#d5_5 .pip-13,
#d5_5 .pip-15,
#d5_5 .pip-17
{ opacity: 0 }

#d5_6 .pip-02,
#d5_6 .pip-04,
#d5_6 .pip-06,
#d5_6 .pip-08,
#d5_6 .b-side.pip.pip.col-02
{ opacity: 0 }

#d6_6 .pip.col-02 { opacity: 0 }
